@import "tailwindcss";

@theme {
  --color-mint-500: rgb(100, 255, 255);
  --color-primary-dark: "#4f39f6";
  --color-primary-light: "#e0e7ff";
  --color-secondary-dark: "#101828";
  --color-secondary-light: "#6a7282";
}
